$color1: #f0f4fa;
$color2: #808b9d;
$color3: #e1e6ed;
$color4: #e4eaf2;

$border-radius-image: 10px;

$correct1: #c8f5c3;
$correct2: #55d646;

$wrong1: #fcbbc0;
$wrong2: #f47079;

$home-layout-margin: 0 8rem;

$header-footer-height: 5rem;
